<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ device.name }}</title>
</head>
<body>
    <h1>{{ device.name }}</h1>
    <img src="{{ device.image.url }}" alt="{{ device.name }}" style="width: 300px;">
    <p>Производитель: {{ device.manufacturer }}</p>
    <p>Цена: {{ device.price }} руб.</p>
    <p>Дата выпуска: {{ device.release_date }}</p>
    <p>Категория: {{ device.category.name }}</p>
    <p>Особенности:</p>
    <ul>
        {% for feature in device.features.all %}
        <li>{{ feature.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'device_list' %}">Назад к списку</a>
</body>
</html>